@using Contrib.Cache.ViewModels
@model IndexViewModel
           
@{
    Layout.Title = T("Cache Settings");
}
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()

    <fieldset>
        <label>@T("Default Cache Duration")</label>
        @Html.TextBoxFor(m => m.DefaultCacheDuration, new { @class = "text-small"})
        <span class="hint">@T("Number of seconds the pages should be kept in cache by default.")</span>
    </fieldset>
    
    <button class="primaryAction" type="submit">@T("Save")</button>
    
    foreach (var feature in Model.FeatureRouteConfigurations.Keys) {
        <h2>@T(feature) @T("Feature")</h2>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col">@T("Route")</th>
                    <th scope="col">@T("Priority")</th>
                    <th scope="col">@T("Settings")</th>
                </tr>
            </thead>
            @foreach (var routeConfiguration in Model.FeatureRouteConfigurations[feature]) {
            <tr>
                <td>@(((Route)routeConfiguration.RouteDescriptor.Route).Url)</td>
                <td style="width:60px;">@routeConfiguration.RouteDescriptor.Priority</td>    
                <td style="width:300px;">@routeConfiguration.CacheSettings.ToString()</td>    
            </tr>
            }
        </table>
    }
}

<h2>@T("Statistics")</h2>
<table class="items">
    <thead>
        <tr>
            <th scope="col">@T("Url")</th>
            <th scope="col">@T("Cached On")</th>
            <th scope="col">@T("Cached Until")</th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    @foreach (var cacheItem in Model.CacheItems) {
    <tr>
        <td>@cacheItem.Url</td>
        <td>@Display.DateTimeRelative(dateTimeUtc: cacheItem.CachedOnUtc)</td>
        <td>@cacheItem.ValidUntilUtc.ToLocalTime()</td>
        <td>@Html.ActionLink(T("Evict").Text, "Evict", new { Area = "Contrib.Cache", Controller = "Admin", cacheKey = cacheItem.CacheKey })</td>
    </tr>
    }
</table>
